In [33]:
import sqlite3
import json

class Object:
    def __init__(self, name):
        self.name = name
        self.db = None
        self.tables = []
        self.query = ""
        self.table_id = ""
        self.sql = ""

    def connect(self, db_path):
        self.db = sqlite3.connect(db_path)
        self.tables = self.init_tables()

    def init_tables(self):
        return self.db.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()
    
    def check_tables_for_1(self, tables):
        if len(tables) == 1:
            self.table_id = tables[0][0]
            return True
        self.identify_table(self.prompt, self.tables)

def stringToSQL(string: str, schema_file: str) -> str:
    Schema = open(schema_file, 'r').read()
    filtered_schema = '\n'.join(line for line in Schema.splitlines() if not line.strip().startswith('.import'))
    return "Sample string"

def narrowDownTables(question: str, tables: list[str]) -> list[str]:
    narrowTables = tables
    return narrowTables

def connect_fun(database_name: str) -> Object:
    database = Object(database_name)
    database.connect('./{database_name}/example-data.sqlite3')
    return database

def query_fun(question: str, tables: list[str], database_connection: Object) -> str:

    query = stringToSQL(question, f'./{database_connection.name}/example-data.sql')
    # Create a cursor object
    cursor = database_connection.cursor()
    # Execute the query
    cursor.execute(query)
    schema_string = ""
    for row in cursor.fetchall():
        schema_string += row[0] + '\n'
    cursor.close()
    print(schema_string)
    return "Sample string"

def unitTests():
    databases = ['another', 'buildings', 'covid']
    for database in databases:
        json_file = open(f'./{database}/example-data.json')
        data = json.load(json_file)
        json_file.close()
        for _ in data:
            answer = stringToSQL(_['question'], f'./{database}/example-data.sql')
            if answer != _['sql']:
                print(f'Error in {database} database')
                print(f'Question: {_["question"]}')
                print(f'Expected: {_["sql"]}')
                print(f'Actual: {answer}')
                print()

def unitTests2():
    databases = ['another', 'buildings', 'covid']
    dict_dict = {'data': []}    
    for database in databases:
        json_file = open(f'./{database}/example-data.json')
        data = json.load(json_file)
        for _ in data:
            dict_ = {"input": _["question"], "output": _["sql"]}
            dict_dict['data'].append(dict_)
    write_file = open(f'./new_data.json', 'w')
    write_file.write(json.dumps(dict_dict, indent=4))

unitTests2()