In [19]:
import sqlite3
import json

class Object:
    def __init__(self):
        self.db = None
        self.tables = []
        self.query = ""
        self.table_id = ""
        self.sql = ""

    def connect(self, db_path):
        self.db = sqlite3.connect(db_path)
        self.tables = self.init_tables()

    def identify_table(self, tables):
        q = self.query
        query_hash_map = {}
        possible_tables = []
        for word in q.split(" "):
            if query_hash_map[word]:
                query_hash_map[word] += 1
            else:
                query_hash_map[word] = 1
        
        for word in query_hash_map:
            for table in self.tables:
                if word == table:
                    possible_tables.append(table)

            


        return 0

    def init_tables(self):
        return self.db.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()
    
    def check_tables_for_1(self, tables):
        if len(tables) == 1:
            self.table_id = tables[0][0]
            return True
        self.identify_table(self.prompt, self.tables)

def stringToSQL(string: str, schema_file: str) -> str:
    Schema = open(schema_file, 'r').read()
    filtered_schema = '\n'.join(line for line in Schema.splitlines() if not line.strip().startswith('.import'))
    return "Sample string"

def narrowDownTables(question: str, tables: list[str]) -> list[str]:
    narrowTables = tables
    return narrowTables

def connect_fun(database_name: str) -> Object:
    database = Object()
    database.connect('./{database_name}/example-data.sqlite3')
    return database

def query_fun(question: str, tables: list[str], database_connection: Object) -> str:
    return "Sample string"

def unitTests():
    databases = ['another', 'buildings', 'covid']
    for database in databases:
        json_file = open(f'./{database}/example-data.json')
        data = json.load(json_file)
        json_file.close()
        for _ in data:
            answer = stringToSQL(_['question'], f'./{database}/example-data.sql')
            if answer != _['sql']:
                print(f'Error in {database} database')
                print(f'Question: {_["question"]}')
                print(f'Expected: {_["sql"]}')
                print(f'Actual: {answer}')
                print()


unitTests()

Error in another database
Question: RTA filtering count for task 342111?
Expected: ["select count(*) from pre_ranking_filter_log where task=342111 and filter_key = 'o_rta_filter'", 'SELECT COUNT(*) AS "_col_0" FROM "pre_ranking_filter_log" AS "pre_ranking_filter_log" WHERE "pre_ranking_filter_log"."filter_key" = \'o_rta_filter\' AND "pre_ranking_filter_log"."task" = 342111']
Actual: Sample string

Error in another database
Question: count RTA filtering of the task 342111?
Expected: ["select count(*) from pre_ranking_filter_log where task=342111 and filter_key = 'o_rta_filter'", 'SELECT COUNT(*) AS "_col_0" FROM "pre_ranking_filter_log" AS "pre_ranking_filter_log" WHERE "pre_ranking_filter_log"."filter_key" = \'o_rta_filter\' AND "pre_ranking_filter_log"."task" = 342111']
Actual: Sample string

Error in another database
Question: RTA and score_rank filtering count for task 342111?
Expected: ["select count(*) from pre_ranking_filter_log where task=342111 and (filter_key = 'o_rta_filter' or filter_key = 'o_score_rank')", 'SELECT COUNT(*) AS "_col_0" FROM "pre_ranking_filter_log" AS "pre_ranking_filter_log" WHERE ("pre_ranking_filter_log"."filter_key" = \'o_rta_filter\' OR "pre_ranking_filter_log"."filter_key" = \'o_score_rank\') AND "pre_ranking_filter_log"."task" = 342111']
Actual: Sample string

Error in another database
Question: count creative size filter for task 342111 on 12 January
Expected: ["select count(*) as '342111' from pre_ranking_filter_log where task=342111 and filter_key='o_creative_size' and date(timestamp)='2023-01-12'", 'SELECT COUNT(*) AS "342111" FROM "pre_ranking_filter_log" AS "pre_ranking_filter_log" WHERE "pre_ranking_filter_log"."filter_key" = \'o_creative_size\' AND "pre_ranking_filter_log"."task" = 342111 AND DATE("pre_ranking_filter_log"."timestamp") = \'2023-01-12\'']
Actual: Sample string

Error in another database
Question: compare RTA filter for task 342111 and 342112?
Expected: ['WITH "t1" AS (SELECT COUNT(*) AS "342111" FROM "pre_ranking_filter_log" AS "pre_ranking_filter_log" WHERE "pre_ranking_filter_log"."task" = 342111), "t2" AS (SELECT COUNT(*) AS "342112" FROM "pre_ranking_filter_log" AS "pre_ranking_filter_log" WHERE "pre_ranking_filter_log"."task" = 342112) SELECT "t1"."342111" AS "342111", "t2"."342112" AS "342112" FROM "t1" CROSS JOIN "t2"', 'SELECT COUNT(*) AS "342111", (SELECT COUNT(*) AS "_col_0" FROM "pre_ranking_filter_log" AS "pre_ranking_filter_log" WHERE "pre_ranking_filter_log"."task" = 342112) AS "342112" FROM "pre_ranking_filter_log" AS "pre_ranking_filter_log" WHERE "pre_ranking_filter_log"."task" = 342111', 'select count(*) as "342111", (select count(*) from pre_ranking_filter_log where task=342112) as "342112" from pre_ranking_filter_log where task = 342111', 'With t1 as (select count(*) as "342111" from pre_ranking_filter_log where task = 342111), t2 as (select count(*) as "342112" from pre_ranking_filter_log where task = 342112) select * from t1, t2']
Actual: Sample string

Error in another database
Question: compare filter count for task 342111 between 12nd and 13rd Jan
Expected: ["With t1 as (select count(*) as '01-12' from pre_ranking_filter_log where task = 342111 and date(timestamp)='2023-01-12'), t2 as (select count(*) as '01-13' from pre_ranking_filter_log where task=342111 and date(timestamp)='2023-01-13') select * from t1, t2", 'WITH "t1" AS (SELECT COUNT(*) AS "01-12" FROM "pre_ranking_filter_log" AS "pre_ranking_filter_log" WHERE "pre_ranking_filter_log"."task" = 342111 AND DATE("pre_ranking_filter_log"."timestamp") = \'2023-01-12\'), "t2" AS (SELECT COUNT(*) AS "01-13" FROM "pre_ranking_filter_log" AS "pre_ranking_filter_log" WHERE "pre_ranking_filter_log"."task" = 342111 AND DATE("pre_ranking_filter_log"."timestamp") = \'2023-01-13\') SELECT "t1"."01-12" AS "01-12", "t2"."01-13" AS "01-13" FROM "t1" CROSS JOIN "t2"']
Actual: Sample string

Error in another database
Question: count each filter key for task 342111
Expected: ['SELECT "pre_ranking_filter_log"."filter_key" AS "filter_key", COUNT(*) AS "filter_count" FROM "pre_ranking_filter_log" AS "pre_ranking_filter_log" WHERE "pre_ranking_filter_log"."task" = 342111 GROUP BY "pre_ranking_filter_log"."filter_key"', 'SELECT filter_key, COUNT(*) as filter_count FROM pre_ranking_filter_log WHERE task = 342111 GROUP BY filter_key']
Actual: Sample string

Error in another database
Question: count country blocked filtering of the task 342111?
Expected: ["SELECT COUNT(*) AS count FROM pre_ranking_filter_log left JOIN pre_ranking_filter_key_mapping ON pre_ranking_filter_log.filter_key = pre_ranking_filter_key_mapping.filter_key WHERE task = '342111' AND filter_key_en = 'blocked country'", "SELECT COUNT(*) AS count FROM pre_ranking_filter_log WHERE task = '342111' AND filter_key = 'o_country_target'", 'SELECT COUNT(*) AS "count" FROM "pre_ranking_filter_log" AS "pre_ranking_filter_log" WHERE "pre_ranking_filter_log"."filter_key" = \'o_country_target\' AND "pre_ranking_filter_log"."task" = \'342111\'']
Actual: Sample string

Error in another database
Question: In task 342111, what are the filtering stages?
Expected: ['SELECT DISTINCT t2.filter_stage FROM pre_ranking_filter_log t1 JOIN pre_ranking_filter_key_mapping t2 ON t1.filter_key = t2.filter_key WHERE t1.task = 342111', 'SELECT DISTINCT "t2"."filter_stage" AS "filter_stage" FROM "pre_ranking_filter_log" AS "t1" JOIN "pre_ranking_filter_key_mapping" AS "t2" ON "t1"."filter_key" = "t2"."filter_key" WHERE "t1"."task" = 342111']
Actual: Sample string

Error in another database
Question: show me the ctr of tasks having same requests of task 342112
Expected: ['select task, avg(avg_ctr) from predicted_metric_log where task in (select distinct task from request_log where request_id in (select distinct request_id from request_log where task = 342112)) group by task', 'WITH "_u_0" AS (SELECT DISTINCT "request_log"."request_id" AS "request_id" FROM "request_log" AS "request_log" WHERE "request_log"."task" = 342112 GROUP BY "request_log"."request_id"), "_u_1" AS (SELECT DISTINCT "request_log"."task" AS "task" FROM "request_log" AS "request_log" LEFT JOIN "_u_0" AS "_u_0" ON "request_log"."request_id" = "_u_0"."request_id" WHERE NOT "_u_0"."request_id" IS NULL GROUP BY "request_log"."task") SELECT "predicted_metric_log"."task" AS "task", AVG("predicted_metric_log"."avg_ctr") AS "_col_1" FROM "predicted_metric_log" AS "predicted_metric_log" LEFT JOIN "_u_1" AS "_u_1" ON "predicted_metric_log"."task" = "_u_1"."task" WHERE NOT "_u_1"."task" IS NULL GROUP BY "predicted_metric_log"."task"']
Actual: Sample string

Error in another database
Question: How are the filter counts for task 342111 distributed as percentages for each filter?
Expected: ['WITH t1 AS (select filter_key, count(*) as n from pre_ranking_filter_log where task = 342111 group by filter_key) SELECT filter_key, n, n*100.0/(select sum(n) from t1) FROM t1', 'WITH "t1" AS (SELECT "pre_ranking_filter_log"."filter_key" AS "filter_key", COUNT(*) AS "n" FROM "pre_ranking_filter_log" AS "pre_ranking_filter_log" WHERE "pre_ranking_filter_log"."task" = 342111 GROUP BY "pre_ranking_filter_log"."filter_key"), "_u_0" AS (SELECT SUM("t1"."n") AS "_col_0" FROM "t1") SELECT "t1"."filter_key" AS "filter_key", "t1"."n" AS "n", "t1"."n" * 100.0 / "_u_0"."_col_0" AS "_col_2" FROM "t1" CROSS JOIN "_u_0" AS "_u_0"']
Actual: Sample string

Error in another database
Question: the percentage of RTA filter count for task 342111
Expected: ['WITH "_u_0" AS (SELECT COUNT(*) AS "_col_0" FROM "pre_ranking_filter_log" AS "pre_ranking_filter_log" WHERE "pre_ranking_filter_log"."task" = 342111) SELECT COUNT(*) * 100.0 / "_u_0"."_col_0" AS "_col_0" FROM "pre_ranking_filter_log" AS "pre_ranking_filter_log" CROSS JOIN "_u_0" AS "_u_0" WHERE "pre_ranking_filter_log"."filter_key" = \'o_rta_filter\' AND "pre_ranking_filter_log"."task" = 342111', "select count(*)*100.0 /(select count(*) from pre_ranking_filter_log where task=342111) from pre_ranking_filter_log where task=342111 and filter_key='o_rta_filter'"]
Actual: Sample string

Error in another database
Question: distinct filter stages
Expected: ['SELECT DISTINCT "pre_ranking_filter_key_mapping"."filter_stage" AS "filter_stage" FROM "pre_ranking_filter_key_mapping" AS "pre_ranking_filter_key_mapping"', 'select DISTINCT filter_stage from pre_ranking_filter_key_mapping']
Actual: Sample string

Error in another database
Question: what are unique filter stages
Expected: ['select DISTINCT filter_stage from pre_ranking_filter_key_mapping', 'SELECT DISTINCT "pre_ranking_filter_key_mapping"."filter_stage" AS "filter_stage" FROM "pre_ranking_filter_key_mapping" AS "pre_ranking_filter_key_mapping"']
Actual: Sample string

Error in buildings database
Question: What's the height of Landmark 81 in meters?
Expected: ['SELECT height_m FROM tallest_buildings WHERE name="Landmark 81"']
Actual: Sample string

Error in buildings database
Question: What's the age of the tallest building?
Expected: ["SELECT (strftime('%Y')-year_built) as age FROM tallest_buildings ORDER BY rank ASC LIMIT 1"]
Actual: Sample string

Error in buildings database
Question: What's the tallest Tower in Malaysia?
Expected: ['SELECT name FROM tallest_buildings WHERE name LIKE "%Tower%" and country="Malaysia"']
Actual: Sample string

Error in buildings database
Question: What's the height of Eiffel Tower?
Expected: ['SELECT height_m FROM tallest_buildings WHERE name="Eiffel Tower"']
Actual: Sample string

Error in covid database
Question: What's the statistic code used for fully vaccinated?
Expected: ["select distinct STATISTIC_CODE from covid_vaccinations WHERE `Statistic_Label` = 'Fully Vaccinated'"]
Actual: Sample string

Error in covid database
Question: How many different age groups were tracked for covid vacciations?
Expected: ['select count(distinct `Age Group`) from covid_vaccinations']
Actual: Sample string

Error in covid database
Question: What was the biggest vaccination rate achieved?
Expected: ['select max(VALUE) from covid_vaccinations']
Actual: Sample string

Error in covid database
Question: Where was the biggest vaccination rate achieved?
Expected: ['select `Local Electoral Area` from covid_vaccinations WHERE VALUE=max(VALUE)']
Actual: Sample string

Error in covid database
Question: Which electoral area has worst latest fully vaccinated rate?
Expected: ["select `Local Electoral Area` from covid_vaccinations where Statistic_Label='Fully Vaccinated' order by `TLIST(M1)` desc, `VALUE` desc limit 1"]
Actual: Sample string

Error in covid database
Question: Which electoral area has worst latest fully vaccinated rate?
Expected: ["select `Local Electoral Area` from covid_vaccinations where Statistic_Label='Fully Vaccinated' order by `TLIST(M1)` desc, `VALUE` asc limit 1"]
Actual: Sample string